html {
    background-color: blanchedalmond;
}

.description, .logo-image, .search-box, .table-block, .filter-box {
    text-align: center;
}

img {
    max-width:100%;
    height:auto;
}

table {
    border-collapse: collapse;
}
  
table, th, td {
    border: 1px solid black;
}


.column {
    float: left;
    width: 50%;
    padding: 10px;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
  }

